[Desktop Entry]
Name=Walksnail OSD Tool
Comment=Tool for editing Walksnail HD VTX OSD settings
Exec=walksnail-osd-tool
Icon=walksnail-osd-tool
Terminal=false
Type=Application
Categories=Utility;
